.colorContainer {
    padding: 1px;
    border-radius: 12px;
    overflow: hidden;
    width: 592px;
    transition: 0.3s;
    border: 1px solid transparent;
    background-color: white;
    color: black;

    .messageForm {
        overflow: hidden;
        display: flex;
        align-items: center;
        border-radius: 12px;
        width: 600px;
        border: 1px solid transparent;
        transition: 0.3s;

        .messageInput {
            width: 100%;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 17px;
            font-size: 16px;
            border-radius: 12px;
            margin-right: 10px;
            border: 1px solid transparent;

            &:focus {
                outline: none;
            }
        }

        .sendButton {
            border-left: 1px solid #000;
            font-size: 18px;
            padding: 1px 17px;
            padding-right: 23px;
            border-radius: 0 20px 20px 0;
            border: none;
            cursor: pointer;
            transition: 0.2s;
            border-left: 2px solid lightgrey;

            i {
                transition: 0.1s;
                transform: scale(1.2);
                color: grey;

                &:hover {
                    color: black;
                }
            }

            &:active i {
                transform: scale(1);
            }
        }
    }
}

@media (max-width: 650px) {
    .colorContainer {
        padding: 1px;
        border-radius: 12px;
        overflow: hidden;
        width: 100%;
        transition: 0.3s;
        border: 1px solid transparent;
        background-color: white;
        color: black;

        .messageForm {
            overflow: hidden;
            display: flex;
            align-items: center;
            border-radius: 12px;
            width: 100%;
            border: 1px solid transparent;
            transition: 0.3s;

            .messageInput {
                width: 100%;
                padding-top: 8px;
                padding-bottom: 8px;
                padding-left: 17px;
                font-size: 16px;
                border-radius: 12px;
                margin-right: 10px;
                border: 1px solid transparent;

                &:focus {
                    outline: none;
                }
            }

            .sendButton {
                border-left: 1px solid #000;
                font-size: 18px;
                padding: 1px 17px;
                padding-right: 23px;
                border-radius: 0 20px 20px 0;
                border: none;
                cursor: pointer;
                transition: 0.2s;
                border-left: 2px solid lightgrey;

                i {
                    transition: 0.1s;
                    transform: scale(1.2);
                    color: grey;

                    &:hover {
                        color: black;
                    }
                }

                &:active i {
                    transform: scale(1);
                }
            }
        }
    }
}